<table class="u-full-width">
  <tbody>
    {{#each model as |match|}}
      <tr>
        <td>
          {{#link-to 'match.show' match.id}}
            {{match.name}}
          {{/link-to}}
        </td>
        <td>{{moment-format match.playedAt}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>
