<table class="u-full-width">
{{#each model as |match|}}
  <tr>
  {{#link-to 'match.show' match.id}}
    <td>{{match.name}}</td>
    <td>{{match.playedAt}}</td>
  {{/link-to}}
  </tr>
{{/each}}
</table>
