{{!-- {{#link-to 'index'}}<h1 id="title">Prostats</h1>{{/link-to}} --}}
<div class="title">
  {{#link-to 'index'}}<img class="logo" src="assets/images/logo.png">{{/link-to}}
</div>
{{#link-to 'league'}}Leagues{{/link-to}}
<hr>
