<table>
  <thead>
    <td>
      Tournament
    </td>
    <td>
      Last Match
    </td>
  </thead>
  <tbody>
    {{#each playedTournaments as |tournament|}}
      {{tournament-card tournament=tournament}}
    {{/each}}
  </tbody>
</table>
