<h2>{{model.name}}</h2>
<h4>{{model.abbr}}</h4>

<ul>
{{#each model.tournaments as |tournament|}}
  <li class="tournament">{{#link-to 'tournament.show' tournament.id}}{{tournament.name}}{{/link-to}}</li>
{{/each}}
</ul>
