<div class="team">
  <h2 class="name">{{model.team.name}}</h2>
  <span class="acronym">{{model.team.acronym}}</span>
</div>

{{#each model.team.players as |player|}}
  {{player-card player=player}}
  <hr>
{{/each}}

{{match-list matches=model.matches}}
